/****************************************************************************************************
*   HSE Theming File
*
*   Contains all the theme color definitions for the HSE MOOC Project
*
****************************************************************************************************/

//-----------------
//  Color variables
//-----------------

//Main Color Variables
$main-color: #005dab;
$dark-color: #005dab; //Link Color
$light-color: #c83737; //Selected Header BG Color, ie. calendar
$bg-color: #e9afaf; //Selected Content BG Color, ie. calendar

//Main BG Color Variables
$main-bg: #9d9573;
$main-bg-60: lighten($main-bg, 18.5%); //Main Border/HR Color
$main-bg-25: lighten($main-bg, 25%); 

//Secondary Color Variables
$secondary: #ddcf99;
$secondary-50: lighten($secondary, 9%);
$secondary-25: lighten($secondary, 20%); //Important Heading BG Color 

//Gray Color Variables
$gray: #3f3c30; //Main Text Color
$gray-75: lighten($gray, 18.25%); //Lighter Text Color

$gray-3: #e9e6df; //Block/Course BG Color
$gray-2: #f2f1eb;
$gray-1: #fbfbf9; //Main BG Color
$white: $gray-1;

$black: #2e2d29;
$black-80: #585754;



//-----------------
//  Font Assignment
//-----------------

$theme-sans-font: 'Source Sans';
$sans-serif: $theme-sans-font, $sans-serif;
$body-font-family: $sans-serif;

$theme-serif-font: 'Crimson Text';
$serif: $theme-serif-font, $serif;




//-----------------
//  Theme Element Assignments
//-----------------

$body-bg: $gray-1;
$container-bg: $gray-1;
$login-register-bg: $gray-1;
$content-wrapper-bg: $gray-1;
$header-image: none;
$header-bg: transparentize(lighten($secondary, 18.5%), .25);
$courseware-header-image: none;
$courseware-header-bg: transparentize(lighten($secondary, 18.5%), .25);
$footer-bg: $secondary-25;
$courseware-footer-border: 1px solid $main-bg-60;
$courseware-footer-shadow: box-shadow(2px 1px 0 rgba(0, 0, 0, .1));
$courseware-footer-margin: 50px;

$faded-hr-image-1: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-2: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-3: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-4: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-5: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-6: linear-gradient($main-bg-60 0%, $main-bg-60);

$base-font-color: $black;
$lighter-base-font-color: $black-80;
$very-light-text: $gray-1;

$link-color: $dark-color;
$link-color-d1: $dark-color;
$link-hover: $light-color;
$site-status-color: $bg-color;

$header-graphic-super-color: $dark-color;
$header-graphic-sub-color: $lighter-base-font-color;

$header-link-color: $dark-color;
$header-link-hover: $light-color;

$button-color: $main-color;
$button-archive-color: $gray-3;

$shadow-color: $gray;

// actions
$button-bg-image: none;
$button-bg-color: $gray-3;
$button-bg-hover-color: $gray-1;

// actions - primary
$action-primary-bg: $main-color;
$action-primary-fg: $gray-2;
$action-primary-shadow: none;

// focused - hover/active pseudo states
$action-primary-focused-bg: $dark-color;
$action-primary-focused-fg: $gray-1;

// current or active navigation item
$action-primary-active-bg: $dark-color;
$action-primary-active-fg: $gray-1;
$action-primary-active-shadow: none;
$action-primary-active-focused-fg: $gray-2;
$action-primary-active-focused-shadow: none;

// disabled
$action-primary-disabled-bg: $gray-75;
$action-prmary-disabled-fg: $gray-1;



// actions - secondary
$action-secondary-bg: $secondary;
$action-secondary-fg: $gray;
$action-secondary-shadow: none;

// focused - hover/active pseudo states
$action-secondary-focused-bg: $secondary-50;
$action-secondary-focused-fg: $gray;

// current or active navigation item
$action-secondary-active-bg: $secondary-50;
$action-secondary-active-fg: $gray;
$action-secondary-active-shadow: none;
$action-secondary-active-focused-fg: $gray-75;
$action-secondary-active-focused-shadow: none;

// disabled
$action-secondary-disabled-bg: $gray-3;
$action-secondary-disabled-fg: $gray;

//

$border-color-1: $main-bg-60;
$border-color-2: $main-bg-60;
$border-color-3: $main-bg-60;
$outer-border-color: $main-bg-60;

$sidebar-color: $gray-1;

$homepage__header--gradient__color--alpha: $secondary-25;
$homepage__header--gradient__color--bravo: $secondary-25;
$homepage__header--background: $secondary-25;
$dashboard-profile-header-image: none;
$dashboard-profile-header-color: $secondary-25;
$dashboard-profile-color: $gray-3;
$dot-color: $main-bg-60;

$course-bg-color: $gray-3;
$course-bg-image: none;
$account-content-wrapper-bg: $gray-1;

$course-profile-bg: $gray-1;
$course-header-bg: transparentize($gray-1, .1);

$sidebar-chapter-bg-top: transparentize($gray-1, .3);
$sidebar-chapter-bg-bottom: transparentize($gray-1, .9);
$sidebar-chapter-bg: $gray-2;
$sidebar-active-image: $gray-3;

$form-bg-color: $gray-1;
$modal-bg-color: $gray-1;

//TOP HEADER IMAGE MARGIN
$header_image_margin: -77px;

//FOOTER MARGIN
$footer_margin: ($baseline/4) 0;

//-----------------
//  CSS BG Images
//-----------------
$homepage-bg-image: url('../themes/hse2/images/hse-pano.jpg');

$login-banner-image: none;
$register-banner-image: none;

$video-thumb-url: '../themes/hse2/images/edx.png';

//-----------------
//  Mixin Styles
//-----------------
@mixin login_register_h1_style {
    clip: auto !important;
    height: 50px;
    width: 550px;
    top: 0;
}

@mixin footer_references_style {
    margin: 0 !important;
    text-align: right;
}


//-----------------
// Override CSS
//-----------------
html {
    background-color: $secondary-25 !important;
}

//-----------------
// Header Styling
//-----------------
.home>header {
    height: 500px;

    .outer-wrapper {
        padding: 120px 0 !important;
    }
}

//-----------------
// Footer Styling
//-----------------
.wrapper-footer {
    box-shadow: none !important;
    padding: 1.4em 0 2em 0;
    
    footer {
        max-width: 1180px;
        margin: 0 auto;

        .colophon {
            width: 80%;
            float: left;

            .nav-colophon li {
                display: inline-block;
                height: 2em;
                float: left;
                margin: 0 2.5em 0.5em 0;
            }
        }

        .references {
            width: 15%;
            float: right;
        }
    }

    .copyright {
        clear: both;
    }
}

//-----------------
// TOS Styling
//-----------------
section.tos {
    box-sizing: border-box;
    padding: 0 50px;

    .print {
        margin: 50px 0;
    }
}



/**
 * su-identity.css
 * ========================================================
 * Custom base styles
 * Last edited: 4/19/2013 by Nate Hardison <nate@edx.org>
 */

#su-header .su-container,
#su-footer .su-container {
  margin: 0 auto;
}

#su-header .global nav {
  height: 64px;
  padding-top: 12px;
}

#su-header .global .nav-global {
  margin-top: 14px;
}

#su-header .span2,
#su-footer .span2 {
  display: block;
  min-height: 1px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#su-header .span10,
#su-footer .span10 {
  display: block;
  min-height: 1px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#su-header .su-container:after,
#su-footer .su-container:after {
  clear: both;
}

#su-header .row:after,
#su-footer .row:after {
  clear: both;
}

/* Background gradient */
#su-header {
  background: #005dab;
  box-shadow: inset 0 -4px 8px -2px rgba(0, 0, 0, 0.2); /* Horizontal offset , vertical offset, blur, internal spacing */
  min-height: 30px;
}

#su-footer,
#su-footer .su-container {
  background: #005dab;
  color: #e3dfd5;
  box-shadow: inset 0 4px 8px -2px rgba(0, 0, 0, 0.2); /* Horizontal offset , vertical offset, blur, internal spacing */
}

/* Prevent flush left */
#su-header .su-container img {
  padding: 4px 0 0 10px;
}

#su-footer a {
  color: #e3dfd5;
}

#su-footer a:hover {
  text-decoration: underline;
}

/* Prevent horizontal scroll bar */
#su-footer .su-container {
  padding: 3px 7px 20px;
}

#su-footer .su-container .su-row {
  margin: 10px 0 0;
}

/* Align logo and text */
#su-footer-logo {
  margin: 0 0 10px;
  padding: 0;
}

#su-footer-text {
  margin-top: 0;
}

#su-footer-text ul {
  margin: 2px 0 0;
  padding: 0;
  line-height: 1em;
}

#su-footer-text ul li {
  display: block;
  list-style: none;
}

#su-footer-text ul li a {
  font: 13px 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  text-decoration: none;
}

#su-footer p.copyright {
  font: 11px 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 30px 0 0;
  line-height: 1.5em;
  color: #e3dfd5;
}

#su-footer p.copyright span {
  color: #e3dfd5;
}

/* Footer two columns */
#su-footer .span2 {
  width: 48%;
  float: left;
}

#su-footer .span10 {
  width: 48%;
  float: right;
}

#su-footer img {
  margin: 0 auto;
  display: block;
}

/* Clear the floats */
#su-footer .clear {
  clear: both;
}

/*
========================================================
Media queries
*/

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  /* Prevent double background gradient */
  #su-footer .su-container {
    background:none;
    box-shadow:none;
  }

  #bottom-text {
    margin-top:2px;
  }

  /* Remove left padding */
  #su-header .su-container img {
    padding:4px 0 0;
  }

  /* Bootstrap style */
  #su-header .su-container,
  #su-footer .su-container {
    width:724px;
  }

  #su-footer .su-container .su-row {
    margin: 10px 0 0 -20px;
  }
  /* Footer single column */
  #su-footer .span2 {
    float:left;
    width:104px;
    padding-left:8px; /* Prevent flush left */
  }
  /* Bootstrap style */
  #su-footer .span10 {
    width:600px;
    margin-left:20px;
    margin:20px 12px 0 20px;
    float:left;
  }

  #su-footer img {
    margin:0 auto;
  }

  #su-footer ul li.alt {
        clear:right;
  }
  /* Footer two column */
  #su-footer ul {
    width:100%;
    float:left;
  }

  #su-footer ul li {
        width:auto;
        margin:0 13px 3px 0;
        padding:0;
        float:none;
        clear:left;
    display:inline-block;
  }

  #bottom-logo {
    margin:-5px 0 10px;
  }

  #su-footer .clear {
    clear:none;
  }

  p.copyright {
    text-align:left;
    padding-left:17%;
    padding-top:25px;
  }
}

@media screen and (min-width: 980px) {
  /* Bootstrap style */
  #su-header .su-container,
  #su-footer .su-container {
    width:940px;
  }

  #su-footer .span2 {
    width: 190px;
  }

  #su-footer .span10 {
    width:780px;
  }
}

@media screen and (min-width: 1200px) {
  /* Bootstrap style */

  #su-header .su-container,
  #su-footer .su-container {
    width:1180px;
  }

  #su-footer .span2 {
    width: 190px;
  }

  #su-footer .span10 {
    width:970px;
  }

  p.copyright {
    padding-left:16%;
  }
}




